body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.font{
    width: 50%;
    font-size: 30px;
}

nav{
    text-decoration: none;
    list-style: none;
    height: 70px;
    width: 100%;
    background-color: green;
    border-radius: 5px;
}
nav ul{
    
    float: left ;
    margin right:  50px;
}
nav ul {
    float: r
}
nav li{
    display: inline-block;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
.logo{
    font-size: 30px;
    color: gray;
    font-size:50px;
    padding: 0 100px;
    line-height: 70px;
}


.enjoy{
    color: green;
}
.beauty{
    color: gray;
}
.width{
    width: 50%;
    margin-top: 190px;
    padding-left: 5%;
}
.link{
    background-image: linear-gradient(lightgreen, green );
    text-decoration: none;
    padding: 1%;
    border-radius: 15px ;
    
}
.flex{
    display: flex;

}
#width{

    width: 50%;
    text-align: center ;
    margin-bottom: 10%;
}
#image{
    width: 90%;
    height: 110%;
}
.image{
    width: 100%;
    height:131%;

}
.bg{
    background-image: url(images/shapes/7.png);
}


.title{
    text-align: center;
    margin-top: 3%;
}
.text{
    font-size: 30px;
    
}
    

.menu{
    width: 20%;
    height: 70%;
    text-align: justify;
    padding-left: 5%;
    margin-top: 2%;
    padding-right: 7%;
    border-radius: 20px;
    box-shadow : 5px 10px 15px gray;

}


.meal{
    width: 120%;
    height: 250px;
}
.bottom{
        margin-bottom: 10%;
}

#opacity{
        color: rgba(128, 128, 128, 0.795);
}
#social{
    width: 80%;
    display: flex;
    text-align: center;
    padding-left: 5%;
    padding-right: 20%;
    margin-right: 10%;
    margin-right: 10%;
    line-height: 20px;
    vertical-align: ;
    border-radius: 20px;
    box-shadow : 5px 10px 5px gray;
    margin-top: 50;
    
}

.media{
    height: 120px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 10%;
    margin-left: 20%;

}

.green{
    color: green;

}

footer{
    background-color: lightgreen;
    height: 5%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: 5%;

}

#font{
    font-size: 30px;
}
#live{
    color: chocolate;   
}

#thank{
    color: darkslategray;
}
#id{
background-color: lightgreen;
text-align: center;
margin: 0%;
}